@model TestOnline_Data.ViewModels.ClassVM
@{
    ViewData["Title"] = "Classes Page"; 
}

<h1>Classes Pages</h1>
<h1>Classes Pages</h1>
<h1>@Model.Id</h1>
<h1>@Model.Name</h1>
<h1>JoinCode @Model.JoinCode</h1>